.App {
  text-align: center;
}

.main-league{
  width: 29%;
  margin: 0 auto;
}
.main-league h3{
  font-size: 15px;
  text-align: right;
  border-bottom: 1px solid #444;
  padding: 20px;
}
.box-team{
  border-bottom: 1px solid rgba(68, 68, 68, 0.226);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-league select{
  width: 30%;
margin-bottom: 50px;
}
.box-team h6{
  color: rgba(68, 68, 68, 0.281);
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
.center-span-result p{
  font-size: 12px;
}